@import url('./common.css');

h1 {
  color: rgb(116, 116, 116);
  font-weight: 300;
  margin-top: 1em;
  margin-bottom: 4em;
}

form {
  position: relative;
  height: auto;
  width: auto;
  background-color: white;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  box-shadow: 0 5px 5px lightgrey;
  padding: 2em 4em;
  box-sizing: border-box;
}

form:after {
  position: absolute;
  content: '';
  width: .7em;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(var(--primary), var(--secondary));
}

.image {
  height: 9em;
  width: 9em;
  border-radius: 50%;
  background-color: var(--app-grey);
  margin-bottom: 2em;
}

input {
  width: 100%;
  padding: .4em .5em;
  background-color: var(--app-grey);
  border: 1px solid var(--app-grey);
  border-radius: .2em;
}

input:focus {
  outline: none;
  border: 1px solid lightgrey;
}

label {
  width: 100%;
  font-weight: 300;
  margin-bottom: -.1em;
  margin-top: 1.5em;
}

button {
  padding: .3em 2em;
  background-color: var(--primary);
  color: white;
  margin-top: 5em;
  font-weight: 400;
  font-size: 1em;
  margin-left: 5px;
  border-radius: 10px;
}

.form-footer {
  margin-top: auto;
  color: grey;
  font-size: 2em;
}

div>div {
  display: inline-block;
}

.redirecionamento {
  padding: .3em 2em;
  background-color: var(--primary);
  color: white;
  margin-top: 5em;
  font-weight: 400;
  font-size: 1em;
  margin-left: 5px;
  text-decoration-line: none;
  border-radius: 10px;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

}

.redirecionamento:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}

/* botao animacao */
.first {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.first:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}

/*estilo inputs*/
.label-float {
  position: relative;
  padding-top: 15px;
}

.label-float input {
  border: 0;
  border-bottom: 2px solid lightgrey;
  outline: none;
  min-width: 180px;
  font-size: 18px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -webkit-appearance: none;

  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.label-float input:focus {
  border-bottom: 2px solid #3951b2;
}

.label-float input::placeholder {
  color: transparent;
}

.label-float label {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
}

.label-float input:required:invalid+label {
  color: red;
}

.label-float input:focus:required:invalid {
  border-bottom: 2px solid red;
}

.label-float input:required:invalid+label:before {
  content: '*';
}

.label-float input:focus+label,
.label-float input:not(:placeholder-shown)+label {
  font-size: 13px;
  margin-top: 0;
  color: #3951b2;
}

.card {
  color: white;
  background-color: blue;
  margin-left: 390px;
  margin-right: -356px;
  width: 160px;
  margin: 20px 15px;
  display: inline-grid;
  height: 160px;
}



.card2 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  /* 5px rounded corners */
  width: 15%;
  display: inline-block;
  border: 1px solid black;
  color: black;
  background-color: lightgray;

}

/* On mouse-over, add a deeper shadow */
.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container2 {
  padding: 2px 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}